.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.Overlay--after-open,
.Overlay--before-close,
.Modal--after-open,
.Modal--before-close {
  opacity: 0;
  transition: opacity 300ms;
}

.Overlay--after-open,
.Modal--after-open {
  opacity: 1;
}

.Overlay--before-close,
.Modal--before-close {
  opacity: 0;
}
